body {
  background: url("https://img.wallpapersafari.com/desktop/1680/1050/70/43/IElKFW.jpg")
    no-repeat center center fixed;
  background-size: 150px;
  height: 600px;
  width: 1000px;
  display: flex;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

/*Tiles*/
.container {
  position: relative;
  top: 20%;
  left: 20%;
}

#overlay {
  background-color: rgba(255, 255, 255, 0.4);
  width: 220px;
  height: 160px;
  position: relative;
}

h2 {
  text-align: center;
  color: rgb(16, 5, 80);
  font-size: 36px;
}

/*Forms*/

.form-control {
  font-size: 15px;
  padding: 5px;
  text-align: center;
}

.tile-body {
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 5%;
}
